<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h3 class="my-5 bg-light">従業員詳細</h3>
      <%= render 'info', worker: @worker, average: @average %>
    </div>

    <div class='col-md-8 offset-md-1'>
      <%= render 'worker/progress-count/weak-chart', progresses: @progresses %>
      <h3 class="my-5 bg-light">件数の前日比・前週比</h3>
      <%= render 'worker/progress-count/day-count', today_progress: @today_progress, yesterday_progress: @yesterday_progress %>
      <%= render 'worker/progress-count/weak-count', this_week_progress: @this_week_progress, last_week_progress: @last_week_progress %>
    </div>
  </div>
</div>