<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'new-england.jpg', class: "bd-placeholder-img bd-placeholder-img-lg d-block w-100 top-img" %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'living-room.jpg', class: "bd-placeholder-img bd-placeholder-img-lg d-block w-100 top-img" %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'kitchen.jpg', class: "bd-placeholder-img bd-placeholder-img-lg d-block w-100 top-img" %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container">
  <h1 class="top_heading mt-3">シェアハウスの日常を投稿しよう！</h1>
  <h5 class="italics">~ShareTalkはシェアハウスをしている人たちのSNSサイトです~</h5>
  <h3 class="border-bottom text-center">ShareTalkの主な機能</h3>
  <div class="row mx-auto mb-5">
    <div class="cards col-2 mr-2 text-center">
      <div class="card_items">
        <h5>日常の出来事を投稿</h5>
      </div>
    </div>
    <div class="cards col-2 mr-2 text-center">
      <div class="card_items">
        <h5>ハウスメンバーを登録</h5>
      </div>
    </div>
    <div class="cards col-2 mr-2 text-center">
      <div class="card_items">
        <h5>投稿にいいね、コメント</h5>
      </div>
    </div>
    <div class="cards col-2 mr-2 text-center">
      <div class="card_items">
        <h5>ユーザーをフォロー</h5>
      </div>
    </div>
    <div class="cards col-2 text-center">
      <div class="card_items">
        <h5>相互フォローでチャット</h5>
      </div>
    </div>
  </div>
  
  <h3 class="border-bottom text-center">ShareTalkの特徴</h3>
  <div class="row">
    <h4 class="mr-3">一緒に暮らすメンバーを<span class="text-success">登録</span>しよう！</h4>
    <p><small>一緒に暮らすメンバーを登録 そのメンバーとの出来事やシェアハウスでの生活を投稿することを主な目的としています。</small></p>
  </div>
  <h5>マイページのユーザー編集からハウスメンバーを登録しましょう！</h5>
  <div class="row">
    <%#= link_to '今すぐ始める', new_user_registration_path, class: "btn btn-primary mt-5 offset-md-5" %>
  </div>
</div>