<%= form_with model: [:admin,process], local: false do |f| %>
  <div class="row my-4 form-group justify-content-left">
    <table class="form-tabele ml-4">
      <tbody>
        <tr>
          <th><%= f.label "工程名", class: "col-form-label" %></th>
          <td><%= f.text_field :name, class: "form-control mx-2" %></td>
          <td><%= f.submit "新規登録", class: "btn btn-success mx-4" %></td>
        </tr>
      </tbody>
    </table>
  </div>
<%end%>