<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h4 class="bg-light px-2">工程名編集</h4>
      <%= form_with model: [:admin,@process] do |f| %>
        <div class="row my-4 form-group">
          <%= f.label "工程名", class: "col-sm-2 col-form-label" %>
          <div class="col-sm-6">
          <%= f.text_field :name, class: "form-control" %>
          </div>
          <%= f.submit "変更を保存", class: "btn btn-success" %>
        </div>
      <%end%>
    </div>
  </div>
</div>