// Place all the styles related to the worker/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.top-heading {
  color: #158b2b;
  margin: 1.5em 0;
}

.top-heading:before {
  content: "";
  position: absolute;
  top: -15px;
  left: 50%;
  width: 200px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid #a6ddb0;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.box1 {
  height: 150px;
  background-image: image-url('mark-g32903e08a_640.jpg');
  background-position: bottom;
  background-size: cover;
}

.box2 {
  height: 150px;
  background-image: image-url('drill-g1b2937a8f_640.jpg');
  background-position: bottom;
  background-size: cover;
}

.box3 {
  height: 150px;
  background-image: image-url('welder-g32802dd06_640.jpg');
  background-position: bottom;
  background-size: cover;
}

@media screen and (max-width: 352px) {
  .top-heading:before {
    content: "";
    height: 105px;
  }
}