// Place all the styles related to the worker/progresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#progress-table .head {
  background-color: #f8f9fa;
}

#progress-table .body {
  background-color: #ffffff;
}

@media only screen and (max-width: 768px) {
  #progress-table {
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    margin: 0 10px;
  }
  #progress-table .fixed {
    position: sticky;
    left: 0;
  }
  #progress-table .fixed:before {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    right: -1px;
    height: 100%;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
  }
}