// Place all the styles related to the admin/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#product-table .head {
  background-color: #f8f9fa;
}

#product-table .body {
  background-color: #ffffff;
}

// #prduct-table tbody tr:hover {
//   background-color: #f8f9fa;
// }

@media screen and (max-width: 426px) {
  #product-table {
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    margin: 0 10px;
  }
  #product-table .fixed {
    position: sticky;
    left: 0;
  }
  #product-table .fixed:before {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    right: -1px;
    height: 100%;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
  }
}