<div class="container">
  <div class="row">
    <h3 class="my-5 bg-light">従業員一覧</h3>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-10">

      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>ID</th>
            <th>名前</th>
            <th></th>
          </tr>
        </thead>
        <% @workers.each do |worker| %>
        <tbody>
          <tr>
            <td><%= worker.id %></td>
            <td>
              <%= link_to worker_path(worker.id) do%>
                <%= worker.last_name %> <%= worker.first_name %>
              <%end%>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
  <%#= paginate @products %>
</div>